@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #F8F8F8;
}
header{
    width: 100%;
    height: 10.5vh;
    background-color: #1CC500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
    color: #1CC500;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 900;
}
a:hover{
    text-decoration: underline;
    color: #17A400;
}
.logo1{
    width: 9vh;
}
.button1{
    width: 15vh;
    height: 8vh;
    border-radius: 1vh;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-size: 2.5vh;
    background-color: #1CC500;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.button1:hover{
    background-color: #17A400;
    width: 15vh;
    height: 8vh;
    transition: 0.3s;
}
.dropbtn{
    width: 15vh;
    height: 8vh;
    border-radius: 1vh;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-size: 2.5vh;
    background-color: #1CC500;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn{
    background-color: #17A400;
    transition: 0.3s;
}
.article1{
    width: 70%;
    height: 89.5vh;
    background-color: white;
    margin-left: 30vh;
}
.img1{
    width: 100%;
    position: relative;
    top: 8vh;
    border-radius: 3vh;
}
.div-text1{
    position: absolute;
    width: 45vh;
    height: 38vh;
    top: 28vh;
    left: 113vh;
    border-radius: 3vh;
    color: white;
    background-color: #0000005a;
    box-shadow: 0vh 0vh 1vh 2vh #0000005a;
    text-align: center;
}
.text1{
    margin-top: 3vh;
    font-size: 2.4vh;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
}
.text2{
    margin-top: 3vh;
    font-size: 2.4vh;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
}
.button2{
    width: 33vh;
    height: 8vh;
    background-color: #1CC500;
    color: white;
    position: absolute;
    top: 70vh;
    left: 119vh;
    border: none;
    border-radius: 1vh;
    font-size: 3vh;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
}
.button2:hover{
    background-color: #17A400;
    transition: 0.3s;
}



footer{
    width: 100%;
    height: 18vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.ft1{
    width: 15vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1-ft{
    width: 12vh;
    height: 12vh;
}
.ft2{
    width: 34vh;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
}
.text1-ft{
    font-size: 2.8vh;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    position: absolute;
    color: white;
}
.img2-ft{
    position: relative;
    width: 10vh;
    height: 10vh;
    top: 4vh;
}
.img3-ft{
    position: relative;
    width: 10vh;
    height: 10vh;
    top: 4vh;
}
.ft3{
    width: 22vh;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.text2-ft{
    font-size: 2.8vh;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 2vh;
}
.ft4{
    width: 50vh;
    height: 100%;
    display: flex;
    text-align: center;
}
.text3-ft{
    font-size: 2vh;
    font-family: "IBM Plex Mono", monospace;
    color: white;
}